.moneySlot {
    height: 80px;
    border-radius: 10px;
}

.moneyButton input {
    height: 100px;
    margin: 10px;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.moneyButton input:hover {
    background-color: #79acdf;
}

.moneyButton input:active {
    background-color: #69c;
}